* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

.container {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 10px;
  margin: 5px;
  background-color: #ebf0f7;
}

.card {
  display: block;
  background-color: #ffff;
  margin: 10px;
  border: 1px solid #eee;
  width: 225px;
  padding: 20px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.1);
  border-radius: 18px;
  text-align: center;
}

h1 {
  font-size: 30px;
}

.app {
  background-color: #ebf0f7;
}
